@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap");

*{
  box-sizing: border-box;
}
.error {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #ff818b;
  margin: 0;
  border: 2px solid #cc4c56;
}

.login {
  font-style: italic;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #ac1798;
  background-color: #efeeec;
  margin: 0;
  float: right;
  margin-right: 40px;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

td.label {
  font-weight: bold;
}

img.profile {
  vertical-align: top;
}

body {
  font-family: "Love Ya Like A Sister", cursive;
  background-color: #efeeec;
  margin: 0;
  padding: 0;
}

nav {
  height: 40px;
  background-color: #efeeec;
  padding: 0 40px;
}

nav .menu {
  display: inline-block;
  text-decoration: none;
  color: #efeeec;
  background-color: #ac1798;
  padding: 5px 12px;
  margin-top: 5px;
  border-radius: 15px;
}

nav .menu:hover {
  background-color: rgb(117, 16, 104);
}

header {
  height: 500px;
  background: linear-gradient(to bottom, rgba(0, 0, 255, 0.13), #363749), url("../images/digital-love.jpg");
  background-attachment: fixed;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h2,
header h3,
section h2 {
  text-align: center;
  color: rgb(240, 240, 240);
  margin: 0;
  padding: 0;
}

section h2{
  color: #223254;
}

header h2 {
  font-size: 4em;
}

header h3 {
  font-size: 3em;
}

.text {
  padding-top: 180px;
}

section h2 {
  font-size: 2em;
  padding: 30px 0 5px 0;
  letter-spacing: 0.5em;
}

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 40px;
}

.card {
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #796B8C;
  box-shadow:0px 0px 3px #333333;
  
}

.card img {
  border-radius: 50%;
  border: 5px solid #eeeeee;
  box-shadow:0px 0px 4px #333333;
}

.card-name,
.card-city {
  font-weight: bold;

  color: #ac1798;
}

.card-name {
  padding: 6px 0 0 0;
}

.cadastro {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 255, 0.13), #be8eb6cb), url("../images/digital-love.jpg");
  background-attachment: fixed;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cadastro .formulario {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  width: 400px;
  box-shadow:0px 0px 16px #333333;
}

.icon {
  position: absolute;
  top: -50px;
  left: 150px;
  width: 100px;
  height: 100px;
}

.title {
  color: #ac1798;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 10px;
}

.group{
  display: flex;
}

.float-input {
  position: relative;
  margin: 10px auto;
  width: 100%;
  max-width: 280px;
}

.float-input .label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 19px;
  color: #747985;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.float-input .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #ac1798;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}

.float-input input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 2px solid #747475;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}

.float-input input[type="password"] {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.float-input input:hover {
  background: rgba(#223254, 0.03);
}


.float-input input:not(:placeholder-shown) + span {
  color: #5a667f;
  transform: translateY(-26px) scale(0.75);
}

.float-input input:focus {
  background: none;
  outline: none;
}

.float-input input:focus + span {
  color: #ac1798;
  transform: translateY(-26px) scale(.75);
}

.float-input input:focus + span + .border {
  transform: scaleX(1);
}

.cadastro-button{
  background-color: #ac1798;
  border: 0;
  font-family: inherit;
  padding: 12px 10px;
  color: #fff;
  font-size: 1.1em;
  border-radius: 5px;
  margin: 15px auto;
  cursor: pointer;
}

.cadastro-button:hover{
  background-color: #700f63;
}

.cadastro-button:focus{
  box-shadow:0px 0px 6px #700f63;
}

.view-section{
  border-top: 2px solid #727070;
  border-bottom: 2px solid #727070;
  background-color: #efeeec; 
  padding: 0 40px 20px 40px;
}

.view-title{
  text-align: left;
  color: #223254;
  font-size: 1.5em;
  padding: 15px 0;
  letter-spacing: 0.1em;
}

.view-image{
  border-radius: 50%;
  box-shadow:0px 0px 16px #333333;
}