@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f2ef;
  margin: 0;
  font: 100%/1.4 "Crimson Text", serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.navbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16181b;
  box-shadow: 0px 5px 6px #ccc;
}

.navbar__home {
  padding: 5px;
  display: block;
  height: 100%;
}

.navbar__home__image {
  height: 100%;
}

.section {
  background-color: #fff;
  padding: 10px;
}

.section__main__form {
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
  padding: 15px;
  box-shadow: 1px 1px 6px #ccc, -1px -1px 6px #ccc;
}

.section__main__form__label {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #8c6805;
  margin: 5px 0;
}

.section__main__form__input {
  margin-bottom: 10px;
  border-radius: 1.4em;
  height: 2em;
  padding: 10px;
  font-size: 1em;
  color: #333333;
  border: 1px solid #888888;
}

.section__main__form__input:focus {
  border: 1px solid #333333;
}

.section__main__form__button {
  background-color: #f4b608;
  color: #fff;
  border: 2px solid #f4b608;
  border-radius: 1.4em;
  height: 2em;
  margin: 10px 0;
  font-family: inherit;
  font-size: 1em;
}

.section__main__form__button:active{
  box-shadow: 0px 3px 6px #888888;
  border-color:rgb(182, 135, 7); 
}

.footer {
  background-color: #0b0b0e;
  color: #fff;
  padding: 8px;
  text-align: center;
  flex-shrink: 0;
}

tr.heading {
  color: #882e2c;
}

tr.results {
  font-size: smaller;
  color: #000000;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #882e2c;
}

a:hover {
  background-color: #e2f345;
}

a:visited {
  color: #882e2c;
}

a:active {
  color: #000000;
}
