<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Elvis Store - Remover e-mail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/style.min.css" />
</head>

<body>
    <img src="assets/images/blankface.jpg" alt="Imagem do Elvis sem rosto." class="elvis-image" />
    <img name="elvislogo" src="assets/images/elvislogo.gif" class="elvis-logo" alt="Make Me Elvis" />
    <p>Informe seu email para sair da lista.</p>
    <form method="post" action="removeemail.php">
        <label for="email">E-mail:</label><br />
        <input id="email" name="email" type="email" size="30" /><br />
        <input type="submit" name="Remover" value="Remove" />
    </form>
</body>

</html>